<?xml version="1.0"?>
<!--
  Copyright © 2025 Ritu Sinha

  This source code is licensed under the MIT license
  that is bundled with this package in the file LICENSE.

  You are free to use, modify, and distribute this software
  in accordance with the terms of the MIT License.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SinhaR\AiAgenticIntegration\Api\ProductRepositoryInterface"
                type="SinhaR\AiAgenticIntegration\Model\ProductRepository"/>
    <preference for="SinhaR\AiAgenticIntegration\Api\CheckoutInterface"
                type="SinhaR\AiAgenticIntegration\Model\Checkout"/>
    <preference for="SinhaR\AiAgenticIntegration\Api\Data\ProductInterface"
                type="SinhaR\AiAgenticIntegration\Model\Data\Product"/>
    <preference for="SinhaR\AiAgenticIntegration\Api\ACPExporterInterface"
                type="SinhaR\AiAgenticIntegration\Model\ACPExporter"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sinhar_aiagent_push" xsi:type="object">SinhaR\AiAgenticIntegration\Console\Command\PushProducts</item>
            </argument>
        </arguments>
    </type>
</config>
